@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content__container {
  overflow: hidden;
  height: 60px;
}

.content__container__list {
  list-style: none;

  animation-name: change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  margin: 0;
  line-height: 60px;
}

@keyframes change {
  0%,
  7.14%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  14.28% {
    transform: translate3d(0, -14.28%, 0);
  }
  21.42% {
    transform: translate3d(0, -28.57%, 0);
  }
  28.57% {
    transform: translate3d(0, -42.85%, 0);
  }
  35.71% {
    transform: translate3d(0, -57.14%, 0);
  }
  42.85% {
    transform: translate3d(0, -71.42%, 0);
  }
  53.5% {
    transform: translate3d(0, -85.71%, 0);
  }
  64.28% {
    transform: translate3d(0, -71.42%, 0);
  }
  71.42% {
    transform: translate3d(0, -57.14%, 0);
  }
  78.54% {
    transform: translate3d(0, -42.85%, 0);
  }
  85.71% {
    transform: translate3d(0, -28.57%, 0);
  }
  92.85% {
    transform: translate3d(0, -14.28%, 0);
  }
}

@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  background: linear-gradient(270deg, #ff00ffec, #00ffff);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-text 5s ease infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-animation:hover {
  animation: shake 0.5s ease-in-out;
}
